<div class="content">
  <div class="row">
    <div class="col-md-8 d-inline-flex">
      <div class="card">
        <div class="card-header"><h5 class="title">My Profile</h5></div>
        <div class="card-body">
          <form>
            <div class="row">
              <div class="col-md-12 pr-md-1">
                <div class="form-group">
                  <label> My Wallet Address (Public Key) </label>
                  <button
                    (click)="copyMessage(publicKey)"
                    class="btn btn-primary ml-2 p-1"
                  >
                    Copy
                  </button>
                  <input
                    class="form-control"
                    disabled=""
                    placeholder="Company"
                    type="text"
                    value="{{ publicKey }}"
                  />
                </div>
              </div>
              <div class="col-md-12 pr-md-1">
                <div class="form-group">
                  <label> My Private Key </label>
                  <button
                    (click)="copyMessage(privateKey)"
                    class="btn btn-primary ml-2 p-1"
                  >
                    Copy
                  </button>
                  <input
                    class="form-control"
                    disabled=""
                    placeholder="Company"
                    type="text"
                    value="{{ privateKey }}"
                  />
                </div>
              </div>
            </div>
            <!-- <div class=" row">
              <div class=" col-md-6 pr-md-1">
                <div class=" form-group">
                  <label> First Name </label>
                  <input
                    class=" form-control"
                    placeholder="Company"
                    type="text"
                    value="Mike"
                  />
                </div>
              </div>
              <div class=" col-md-6 pl-md-1">
                <div class=" form-group">
                  <label> Last Name </label>
                  <input
                    class=" form-control"
                    placeholder="Last Name"
                    type="text"
                    value="Andrew"
                  />
                </div>
              </div>
            </div>
            <div class=" row">
              <div class=" col-md-12">
                <div class=" form-group">
                  <label> Address </label>
                  <input
                    class=" form-control"
                    placeholder="Home Address"
                    type="text"
                    value="Bld Mihail Kogalniceanu, nr. 8 Bl 1, Sc 1, Ap 09"
                  />
                </div>
              </div>
            </div>
            <div class=" row">
              <div class=" col-md-4 pr-md-1">
                <div class=" form-group">
                  <label> City </label>
                  <input
                    class=" form-control"
                    placeholder="City"
                    type="text"
                    value="Mike"
                  />
                </div>
              </div>
              <div class=" col-md-4 px-md-1">
                <div class=" form-group">
                  <label> Country </label>
                  <input
                    class=" form-control"
                    placeholder="Country"
                    type="text"
                    value="Andrew"
                  />
                </div>
              </div>
              <div class=" col-md-4 pl-md-1">
                <div class=" form-group">
                  <label> Postal Code </label>
                  <input
                    class=" form-control"
                    placeholder="ZIP Code"
                    type="number"
                  />
                </div>
              </div>
            </div>
            <div class=" row">
              <div class=" col-md-8">
                <div class=" form-group">
                  <label> About Me </label>
                  <textarea
                    class=" form-control"
                    cols="80"
                    placeholder="Here can be your description"
                    rows="4"
                    value="Mike"
                  >
Lamborghini Mercy, Your chick she so thirsty, I'm in that two seat Lambo.
</textarea
                  >
                </div>
              </div>
            </div> -->
          </form>
        </div>
        <!-- <div class=" card-footer">
          <button class=" btn btn-fill btn-danger" type="submit">Save</button>
        </div> -->
      </div>
    </div>

    <div class="col-md-4 d-inline-flex">
      <div class="card card-user">
        <div class="card-body">
          <p class="card-text"></p>
          <div class="author">
            <div class="block block-one"></div>
            <div class="block block-two"></div>
            <div class="block block-three"></div>
            <div class="block block-four"></div>
            <a href="javascript:void(0)">
              <img alt="..." class="avatar" src="assets/img/emilyz.jpg" />

              <h5 class="title">{{ userName }}</h5>
            </a>
            <!-- <p class=" description">Ceo/Co-Founder</p> -->
            <div class="row">
              <div class="col">My Balance</div>
              <div class="col">
                {{ balance }}
              </div>
            </div>
            <div class="row" style="cursor: pointer;" (click)="getMyTransactions(txntbl)">
              <div class="col">My Transactions</div>
              <div class="col">
                {{ myTrasnactions.length }}
              </div>
            </div>
          </div>
          <!-- <div class=" card-description">
            Do not be scared of the truth because we need to restart the human
            foundation in truth And I love you like Kanye loves Kanye I love
            Rick Owens’ bed design but the back is...
          </div> -->
        </div>
        <!-- <div class=" card-footer">
          <div class=" button-container">
            <button
              class=" btn btn-icon btn-round btn-facebook"
              href="javascript:void(0)"
            >
              <i class=" fab fa-facebook"> </i>
            </button>
            <button
              class=" btn btn-icon btn-round btn-twitter"
              href="javascript:void(0)"
            >
              <i class=" fab fa-twitter"> </i>
            </button>
            <button
              class=" btn btn-icon btn-round btn-google"
              href="javascript:void(0)"
            >
              <i class=" fab fa-google-plus"> </i>
            </button>
          </div>
        </div> -->
      </div>
    </div>

    <div class="col-md-8">
      <div class="card">
        <div class="card-header">
          <h5 class="title">Create Transaction</h5>
          <h2 class="card-title">Transfer Coin</h2>
        </div>
        <div class="card-body">
          <form [formGroup]="transferCoinForm" (ngSubmit)="onSubmit()">
            <div class="row">
              <div class="col-md-12 pr-md-1">
                <div class="form-group">
                  <label> From </label>

                  <input
                  formControlName="fromAddress"
                    class="form-control"
                    disabled=""
                    placeholder="Company"
                    type="text"
                    value="{{ publicKey }}"
                  />
                </div>
              </div>
              <div class="col-md-12 pr-md-1">
                <div class="form-group">
                  <label> To </label>

                  <input
                  formControlName="toAddress"
                    class="form-control"
                    placeholder="Receiver Address"
                    type="text"
                  />
                </div>
              </div>
              <div class="col-md-12 pr-md-1">
                <div class="form-group">
                  <label> Amount </label>

                  <input
                  formControlName="amount"
                    class="form-control"
                    placeholder="Amount"
                    type="number"
                  />
                </div>
              </div>
            </div>
            <div class="card-footer">
              <button class="btn btn-fill btn-danger" type="submit">
                Send Coin
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div class="col-md-12" #txntbl>
      <h4 class=" card-title">My Transactions</h4>
      <div class="  table-responsive" >
        <table class=" table " id="">
          <thead class=" text-primary">
            <tr>
              <th class=" text-center">Sr. No</th>
              <th class=" text-center">From</th>
              <th class=" text-center">To</th>
              <th class=" text-center">Amount</th>
              <th class=" text-center">timestamp</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let mt of myTrasnactions; let i = index">
              
              <td class=" text-center">{{ i + 1  }}</td>
              <td class=" text-center text-truncate" style="max-width: 150px;" >{{mt.fromAddress || 'System'}}</td>
              <td class=" text-center text-truncate" style="max-width: 150px;" >{{mt.toAddress || 'System'}}</td>
              <td class=" text-center">{{mt.amount }} {{ i == 0 ? '(Joining Reward)' : '' }}</td>
              <td class=" text-center">{{mt.timestamp | date: 'full'}}</td>
            </tr>
            
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
