<div class="container">
  <div class="card p-4">
    <h1 class="text-center mb-0">Immune Wallet</h1>
    <div class="card-title px-2">
      <h2 class="text-center">Signup</h2>
    </div>
    <div class="card-body">
      <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
        <div class="row">
          <div class="col-md-6 px-md-1">
            <div class="form-group">
              <label> Username </label>
              <input
                class="form-control"
                placeholder="Username"
                type="text"
                formControlName="name"
              />
            </div>
            <div
              *ngIf="
                (!signUpForm.controls['name'].valid &&
                  signUpForm.controls['name'].touched) ||
                (signUpForm.hasError('name') &&
                  !signUpForm.hasError('required'))
              "
              class="alert alert-danger my-2"
            >
              Username is required.
            </div>
          </div>
          <div class="col-md-6 pl-md-1">
            <div class="form-group">
              <label for="exampleInputEmail1"> Email address </label>
              <input
                class="form-control"
                placeholder="mike@email.com"
                type="email"
                formControlName="email"
              />
            </div>
            <div
              *ngIf="
                (!signUpForm.controls['email'].valid &&
                  signUpForm.controls['email'].touched) ||
                (signUpForm.hasError('email') &&
                  !signUpForm.hasError('required'))
              "
              class="alert alert-danger my-2"
            >
              Email is required.
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 px-md-1">
            <div class="form-group">
              <label> Password </label>
              <input
                class="form-control"
                placeholder="Password"
                type="password"
                formControlName="password"
              />
            </div>
            <div
              *ngIf="
                (!signUpForm.controls['password'].valid &&
                  signUpForm.controls['password'].touched) ||
                (signUpForm.hasError('password') &&
                  !signUpForm.hasError('required'))
              "
              class="alert alert-danger my-2"
            >
              Password must be min 6 char long.
            </div>
          </div>
          <div class="col-md-6 pl-md-1">
            <div class="form-group">
              <label for="exampleInputEmail1"> Confirm Password </label>
              <input
                class="form-control"
                placeholder="Confirm Password"
                type="password"
              />
            </div>
          </div>
        </div>


        <div *ngIf="errorMsg" class="alert alert-danger">{{errorMsg}}</div>
        <div *ngIf="successMsg" class="alert alert-success">{{successMsg}}</div>

        <div class="text-center">
          <button
            [disabled]="!signUpForm.valid"
            class="btn btn-fill btn-danger"
            type="submit"
          >
            Signup
          </button>
        </div>

        
      </form>

      <div class="card-footer">
        <small
          >Already have an account, <a routerLink="/login">Login here</a></small
        >
      </div>
    </div>
  </div>
</div>
